@font-face {
    font-family: CascadiaCode;
    src: url(../Fonts/CascadiaCode.ttf);
}

@font-face {
    font-family: TanukiMagic;
    src: url(../Fonts/TanukiMagic.ttf);
}

@font-face {
    font-family: Nicokaku;
    src: url(../Fonts/nicokaku_v1.ttf);
}

@font-face {
    font-family: BradlyHand;
    src: url(../Fonts/BRADHITC.TTF);
}

body {
    background-image: url(../IMG/bg.jpg);
}

#Wanted_Poster {
    display: block;
    max-width: 70vmin;
    margin-left: auto;
    margin-right: auto;
}