@font-face {
    font-family: CascadiaCode;
    src: url(../Fonts/CascadiaCode.ttf);
}

@font-face {
    font-family: TanukiMagic;
    src: url(../Fonts/TanukiMagic.ttf);
}

@font-face {
    font-family: Nicokaku;
    src: url(../Fonts/nicokaku_v1.ttf);
}

@font-face {
    font-family: BradlyHand;
    src: url(../Fonts/BRADHITC.TTF);
}

body {
    background-image: url(../IMG/bg.jpg);
}

#Wanted_Poster {
    display: block;
    max-width: 70vmin;
    margin-left: auto;
    margin-right: auto;
}

#direction {
    position: fixed;
    right: 10px;
    top: 30vh;
    width: 15vmin;
    min-width: 200px;
}

#direction button {
    background: none;
    border: none;
    padding: 0;
}

#direction .next_button {
    position: absolute;
    font-size: 3vmin;
    bottom: 45%;
    left: 25%;
    margin: 0;
}

#direction .next_button:hover {
    color: red;
    text-decoration: underline;
}

#direction .directional_sign {
    width: 100%;
}