.Home {
    display: flex;
    justify-content: center;
    height: 2000px;
    .LobbyLogo {
        margin-top: 10rem;
        width: 20vmax;
    }
}

.BrightBackground {
    background-color: white;
}

.DarkBackground {
    background-color: black;
}
