.Home {
    display: flex;
    justify-content: center;
    height: 2000px;
    .LobbyLogo {
        margin-top: 10rem;
        width: 20vmax;
    }
}

.BrightBackground {
    background-color: white;
}

.DarkBackground {
    animation: FadeBackground-W-B 2s forwards;
}

@keyframes FadeBackground-W-B {
    100% {background-color: black;}
}