.About {
    display: flex;
    padding-top: 100px;
    justify-content: center;
    height: 2000px;
}

.StaticWhite {
    background-color: white;
}

.StaticBlack {
    background-color: black;
    color: white;
}